{erl_opts, [debug_info]}.

{lfe_first_files, []}.

{deps, [
   {lfeyawsdemo, ".*", {git, "git://github.com/lfex/lfeyawsdemo.git", {tag, "0.1.0"}}}
  ]}.

{plugins, [
   {'lfe-compile', {git, "https://github.com/lfe-rebar3/compile.git", {tag, "0.3.0"}}}
  ]}.

{post_hooks, [{compile, "make yaws"}]}.

{provider_hooks, [{pre, [{compile, {lfe, compile}}]}]}.
